@{
    ViewData["AdminTitle"] = "Admin";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<a class="nav-link" asp-controller="User" asp-action="Index">
    <i class="fas fa-fw fa-tachometer-alt"></i>
    <span>Dashboard</span>
</a>