
@{
    ViewData["Title"] = "FAQ";
}

<main>
    <!-- breadcrumb area start -->
    <section class="breadcrumb-area pt-140 pb-140 bg_img" data-overlay="dark" data-opacity="5" data-background="../assets/images/bg/testimonial-bg-2.jpg">
        <div class="shape shape__1"><img src="~/assets/images/shape/breadcrumb-shape-1.png" alt=""></div>
        <div class="shape shape__2"><img src="~/assets/images/shape/breadcrumb-shape-2.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <h2 class="page-title">FAQ Cafena</h2>
                    <div class="cafena-breadcrumb breadcrumbs">
                        <ul class="list-unstyled d-flex align-items-center justify-content-center">
                            <li class="cafenabcrumb-item duxinbcrumb-begin">
                                <a asp-controller="Home" asp-action="Index"><span>Trang chủ</span></a>
                            </li>
                            <li class="cafenabcrumb-item duxinbcrumb-end">
                                <span>FAQ</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->
    <!-- faq area start -->
    <div class="faq__area pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="faq__wrapper">
                        <div class="accordion" id="accordionFaq">
                            <div class="accordion-item faq__item">
                                <h2 class="accordion-header title" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Làm thế nào để hoạt động này?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionFaq">
                                    <div class="accordion-body content">
                                        <p>Đơn giản là, chúng tôi giao đến bạn các món ưa thích từ quán cà phê bạn chọn. Nền tảng của chúng tôi cho phép bạn nhập mã bưu điện của mình và chọn một nhà hàng gần đó mà bạn muốn như McDonalds, KFC, Wagamama, vv để giao hàng. Trong mỗi quán cà phê này, bạn sẽ tìm thấy thực đơn của họ mà bạn có thể thêm vào giỏ hàng.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item faq__item">
                                <h2 class="accordion-header title" id="heading2">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                        Một số thực đơn thiếu trên trang của quán cà phê?
                                    </button>
                                </h2>
                                <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordionFaq">
                                    <div class="accordion-body content">
                                        <p>Đơn giản là, chúng tôi giao đến bạn các món ưa thích từ quán cà phê bạn chọn. Nền tảng của chúng tôi cho phép bạn nhập mã bưu điện của mình và chọn một nhà hàng gần đó mà bạn muốn như McDonalds, KFC, Wagamama, vv để giao hàng. Trong mỗi quán cà phê này, bạn sẽ tìm thấy thực đơn của họ mà bạn có thể thêm vào giỏ hàng.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item faq__item">
                                <h2 class="accordion-header title" id="heading3">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                        Có phải một số loại phô mai của bạn chứa enzyme từ nguồn gốc động vật không?
                                    </button>
                                </h2>
                                <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordionFaq">
                                    <div class="accordion-body content">
                                        <p>Đơn giản là, chúng tôi giao đến bạn các món ưa thích từ quán cà phê bạn chọn. Nền tảng của chúng tôi cho phép bạn nhập mã bưu điện của mình và chọn một nhà hàng gần đó mà bạn muốn như McDonalds, KFC, Wagamama, vv để giao hàng. Trong mỗi quán cà phê này, bạn sẽ tìm thấy thực đơn của họ mà bạn có thể thêm vào giỏ hàng.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item faq__item">
                                <h2 class="accordion-header title" id="heading4">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                        Giá của thực đơn của bạn có giống như ở quán cà phê không?
                                    </button>
                                </h2>
                                <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionFaq">
                                    <div class="accordion-body content">
                                        <p>Đơn giản là, chúng tôi giao đến bạn các món ưa thích từ quán cà phê bạn chọn. Nền tảng của chúng tôi cho phép bạn nhập mã bưu điện của mình và chọn một nhà hàng gần đó mà bạn muốn như McDonalds, KFC, Wagamama, vv để giao hàng. Trong mỗi quán cà phê này, bạn sẽ tìm thấy thực đơn của họ mà bạn có thể thêm vào giỏ hàng.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item faq__item">
                                <h2 class="accordion-header title" id="heading5">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                        Bột của bạn có thân thiện với người ăn chay hoặc ăn chay không?
                                    </button>
                                </h2>
                                <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordionFaq">
                                    <div class="accordion-body content">
                                        <p>Đơn giản là, chúng tôi giao đến bạn các món ưa thích từ quán cà phê bạn chọn. Nền tảng của chúng tôi cho phép bạn nhập mã bưu điện của mình và chọn một nhà hàng gần đó mà bạn muốn như McDonalds, KFC, Wagamama, vv để giao hàng. Trong mỗi quán cà phê này, bạn sẽ tìm thấy thực đơn của họ mà bạn có thể thêm vào giỏ hàng.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- faq area end -->


</main>

