
@{
    ViewData["Title"] = "FAQ";
}

<main>
    <!-- breadcrumb area start -->
    <section class="breadcrumb-area pt-140 pb-140 bg_img"  data-opacity="5" data-background="../assets/images/bg/amuse.jpg">
        
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <h2 class="page-title">FAQ AmuseGift</h2>
                    <div class="cafena-breadcrumb breadcrumbs">
                        <ul class="list-unstyled d-flex align-items-center justify-content-center">
                            <li class="cafenabcrumb-item duxinbcrumb-begin">
                                <a asp-controller="Home" asp-action="Index"><span>Trang chủ</span></a>
                            </li>
                            <li class="cafenabcrumb-item duxinbcrumb-end">
                                <span>FAQ</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->
    <!-- faq area start -->
    <div class="faq__area pt-120 pb-120" style="background-color:black;padding-bottom:100px;margin-bottom:0px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="faq__wrapper">
                        <div class="accordion" id="accordionFaq">
                            <div class="accordion-item faq__item">
                                <h2 class="accordion-header title" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Cửa hàng bán những loại sản phẩm nào?

                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionFaq">
                                    <div class="accordion-body content">
                                        <p>
                                            Chúng tôi chuyên bán các loại cúp lưu niệm bằng thủy tinh cao cấp. Sản phẩm có thể được tùy chỉnh với hình ảnh và thông điệp theo yêu cầu của khách hàng.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item faq__item">
                                <h2 class="accordion-header title" id="heading2">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                        Làm thế nào để đặt hàng cúp thủy tinh tùy chỉnh?
                                    </button>
                                </h2>
                                <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordionFaq">
                                    <div class="accordion-body content">
                                        <p>Quý khách có thể đặt hàng qua các bước sau:</p>
                                        <p>
                                            Truy cập trang web hoặc fanpage của chúng tôi.
                                        </p>
                                        <p>
                                            Gửi hình ảnh và thông tin cần in lên cúp.
                                        </p>
                                        <p>Đặt cọc 1/2 giá trị cúp</p>
                                        <p>
                                            Xác nhận thiết kế mẫu và tiến hành sản xuất.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item faq__item">
                                <h2 class="accordion-header title" id="heading3">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                        Thời gian sản xuất và giao hàng mất bao lâu?

                                    </button>
                                </h2>
                                <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordionFaq">
                                    <div class="accordion-body content">
                                        <p>
                                            Vì đây là sản phẩm được làm theo yêu cầu nên sẽ mất từ 7-12 ngày sản xuất và giao hàng
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item faq__item">
                                <h2 class="accordion-header title" id="heading4">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                         Cúp thủy tinh có kích thước và hình dạng như thế nào?
                                    </button>
                                </h2>
                                <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionFaq">
                                    <div class="accordion-body content">
                                        <p>
                                            Về kích thước: cao 14-16cm, dày 10mm. Chất liệu: thủy tinh cao cấp. Hình dáng cúp tùy theo yêu cầu của khách hàng
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item faq__item">
                                <h2 class="accordion-header title" id="heading5">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                         Chi phí của cúp thủy tinh là bao nhiêu?
                                    </button>
                                </h2>
                                <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordionFaq">
                                    <div class="accordion-body content">
                                        <p>
                                            Giá cả của cúp thủy tinh là 300 ngàn đồng.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item faq__item">
                                <h2 class="accordion-header title" id="heading5">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                        Cửa hàng có chính sách đổi trả hàng không?
                                    </button>
                                </h2>
                                <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordionFaq">
                                    <div class="accordion-body content">
                                        <p>
                                            Chúng tôi chấp nhận đổi trả hàng trong trường hợp sản phẩm bị lỗi từ phía nhà sản xuất hoặc không đúng với thiết kế đã xác nhận. Quý khách cần liên hệ với chúng tôi trong vòng 7 ngày kể từ ngày nhận hàng.

                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item faq__item">
                                <h2 class="accordion-header title" id="heading5">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                        Cửa hàng có các hình thức thanh toán nào?

                                    </button>
                                </h2>
                                <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordionFaq">
                                    <div class="accordion-body content">
                                        <p>
                                            Chúng tôi chấp nhận các hình thức thanh toán sau:

                                        </p>
                                        <p>Chuyển khoản ngân hàng.</p>
                                        <p>
                                            Thanh toán qua ví điện tử (Momo, ZaloPay, ViettelPay, v.v.).
                                        </p>
                                        <p>
                                            Thanh toán tiền mặt khi nhận hàng (COD).
                                        </p>
                                        <p>
                                            Thanh toán qua thẻ tín dụng và thẻ ghi nợ (Visa, MasterCard, JCB).
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item faq__item">
                                <h2 class="accordion-header title" id="heading5">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                         Nếu cúp bị vỡ trong quá trình vận chuyển thì sao?

                                    </button>
                                </h2>
                                <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordionFaq">
                                    <div class="accordion-body content">
                                        <p>
                                            Chúng tôi luôn đảm bảo đóng gói cẩn thận để tránh hư hỏng trong quá trình vận chuyển. Nếu sản phẩm bị vỡ khi nhận hàng, quý khách vui lòng chụp ảnh và liên hệ ngay với chúng tôi trong vòng 24 giờ để được hỗ trợ đổi trả hoặc bồi hoàn.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- faq area end -->


</main>

