
@{
    ViewData["Title"] = "Feedback";
}

<main>
    <!-- breadcrumb area start -->
    <section class="breadcrumb-area pt-140 pb-140 bg_img"  data-opacity="5" data-background="../assets/images/bg/amuse.jpg">
        
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <h2 class="page-title">Feedback</h2>
                    <div class="cafena-breadcrumb breadcrumbs">
                        <ul class="list-unstyled d-flex align-items-center justify-content-center">
                            <li class="cafenabcrumb-item duxinbcrumb-begin">
                                <a asp-controller="Home" asp-action="Index"><span>Trang chủ</span></a>
                            </li>
                            <li class="cafenabcrumb-item duxinbcrumb-end">
                                <span>Feedback của khách yêu AmuseGift</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->
    <!-- populer menu area start -->
    <div class="popular-menu__area position-relative pt-120 pb-120" style="padding-bottom:100px;margin-top:1px">
        
            
            <div class="row popular-menu__masonary mt-none-30">
                <div class="popular-menu__item mt-30 cat1 cat5 cat6">
                    <div class="popular-menu__thumb--2">
                        <img src="~/assets/images/gallery/f1.jpg" alt="">
                    </div>
                </div>
                <div class="popular-menu__item mt-30">
                    <div class="popular-menu__thumb--2">
                        <img src="~/assets/images/gallery/f2.jpg" alt="">
                    </div>
                </div>
                <div class="popular-menu__item  mt-30 cat2 cat4 cat3">
                    <div class="popular-menu__thumb--2">
                        <img src="~/assets/images/gallery/f3.jpg" alt="">
                    </div>
                </div>
                <div class="popular-menu__item  mt-30 cat1 cat6">
                <div class="popular-menu__thumb--2">
                        <img src="~/assets/images/gallery/f4.jpg" alt="">
                    </div>
                </div>
                <div class="popular-menu__item mt-30 cat2 cat3">
                <div class="popular-menu__thumb--2">
                        <img src="~/assets/images/gallery/f5.jpg" alt="">
                    </div>
                </div>
                <div class="popular-menu__item mt-30 cat1 cat5">
                <div class="popular-menu__thumb--2">
                        <img src="~/assets/images/gallery/f6.jpg" alt="">
                    </div>
                </div>
                <div class="popular-menu__item mt-30 cat4 cat3">
                <div class="popular-menu__thumb--2">
                        <img src="~/assets/images/gallery/f7.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 text-center">
                    <a href="#0" class="site-btn mt-60">load more</a>
                </div>
            </div>
        </div>
    </div>
    <!-- populer menu area end -->

</main>

