
@{
    ViewData["Title"] = "Nhân viên";
}

<main>
    <!-- breadcrumb area start -->
    <section class="breadcrumb-area pt-140 pb-140 bg_img" data-opacity="5" data-background="../assets/images/bg/amuse.jpg">
       
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <h2 class="page-title">Nhân Viên</h2>
                    <div class="cafena-breadcrumb breadcrumbs">
                        <ul class="list-unstyled d-flex align-items-center justify-content-center">
                            <li class="cafenabcrumb-item duxinbcrumb-begin">
                                <a asp-controller="Home" asp-action="Index"><span>Trang chủ</span></a>
                            </li>
                            <li class="cafenabcrumb-item duxinbcrumb-end">
                                <span>Đội ngũ tư vấn của AMuseGift</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->
    <!-- team section start -->
    <div class="team__area pt-120 pb-120" style="background-color:black;padding-bottom:66px;margin-top:1px" >
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <div class="section-heading section-heading__black mb-60">
                        <span class="sub-title">Đội ngũ tư vấn của AmuseGift</span>
                        <h2 class="title" style="color:#ffc107">Sẵn sàng đồng hành cùng khách hàng để giúp bạn có trải nghiệm tốt nhất khi sử dụng dịch vụ bên chúng tôi</h2>
                    </div>
                </div>
            </div>
            <div class="row mt-none-30">
                <div class="col-xl-4 col-lg-6 col-md-6 mt-30">
                    <div class="team__box">
                        <div class="thumb mb-30">
                            <img src="~/assets/images/team/anhcuatram.jpg" alt="">
                            <div class="social-links">
                                <button class="social-links__trigger d-flex align-items-center justify-content-center" type="button">
                                    <i class="fal fa-plus"></i>
                                </button>
                                <ul class="list-unstyled d-flex align-items-center">
                                    <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <h4 class="name" style="color:#f4f1ee">Bảo Trâm</h4>
                            <span class="experience">Tư vấn tận tâm, chọn cúp lưu niệm xứng tầm.</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mt-30">
                    <div class="team__box">
                        <div class="thumb mb-30">
                            <img src="~/assets/images/team/anhcuanhung.jpg" alt="">
                            <div class="social-links">
                                <button class="social-links__trigger" type="button">
                                    <i class="fal fa-plus"></i>
                                </button>
                                <ul class="list-unstyled">
                                    <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-linkedin-in"></i></a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <h4 class="name" style="color:#f4f1ee">Kim Nhung</h4>
                            <span class="experience">Tư vấn uy tín, khách hàng tin cậy.</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mt-30">
                    <div class="team__box">
                        <div class="thumb mb-30">
                            <img src="~/assets/images/team/anhcuahnhi.jpg" alt="">
                            <div class="social-links">
                                <button class="social-links__trigger" type="button">
                                    <i class="fal fa-plus"></i>
                                </button>
                                <ul class="list-unstyled">
                                    <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <h4 class="name" style="color:#f4f1ee">Huyền Nhi</h4>
                            <span class="experience">Sự hài lòng của bạn, sứ mệnh của chúng tôi.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

