
@{
    ViewData["Title"] = "Câu chuyện";
}

<main>
    <!-- breadcrumb area start -->
    <section class="breadcrumb-area pt-140 pb-140 bg_img" data-overlay="dark" data-opacity="5" data-background="../assets/images/bg/testimonial-bg-2.jpg">
        <div class="shape shape__1"><img src="~/assets/images/shape/breadcrumb-shape-1.png" alt=""></div>
        <div class="shape shape__2"><img src="~/assets/images/shape/breadcrumb-shape-2.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <h2 class="page-title">Câu chuyện về Cafena</h2>
                    <div class="cafena-breadcrumb breadcrumbs">
                        <ul class="list-unstyled d-flex align-items-center justify-content-center">
                            <li class="cafenabcrumb-item duxinbcrumb-begin">
                                <a asp-controller="Home" asp-action="Index"><span>Trang chủ</span></a>
                            </li>
                            <li class="cafenabcrumb-item duxinbcrumb-end">
                                <span>Câu chuyện</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->
    <!-- about area start -->
    <section class="about__area about__area--2 position-relative pt-120 pb-105">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="wwa-wrapper">
                        <div class="row">
                            <div class="col-xl-7">
                                <div class="about__right about__right--2 about__right--5 pl-45 pt-45">
                                    <div class="section-heading section-heading__black">
                                        <span class="sub-title">Chúng tôi là ai</span>
                                        <h2 class="title mb-25">
                                            Hơn 27 năm kinh nghiệm
                                        </h2>
                                        <p>Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibhtincidunt.</p>
                                    </div>
                                    <ul class="about__list list-unstyled mt-25">
                                        <li><span class="icon"><i class="fal fa-check"></i></span> Lorem Ipsum là gì? Lorem Ipsum đơn giản là</li>
                                        <li><span class="icon"><i class="fal fa-check"></i></span> Văn bản giả của văn bản in.</li>
                                        <li><span class="icon"><i class="fal fa-check"></i></span> Ngành in ấn Lorem Ipsum đã làm cho ngành</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="wwa-wrapper__img">
                            <img src="~/assets/images/bg/wwa-1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about area end -->
    <!-- wcu section start -->
    <section class="wcu__area pt-120">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <div class="section-heading section-heading__black mb-60">
                        <span class="sub-title">Chúng tôi là ai</span>
                        <h2 class="title">Tạo một câu chuyện mới với chúng tôi</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="story-list">
                        <span class="plus"><i class="fal fa-plus"></i></span>
                        <div class="story-list__box">
                            <span class="count">01</span>
                            <div class="story-list__box--inner">
                                <div class="thumb">
                                    <img src="~/assets/images/story/story-1.jpg" alt="">
                                    <span class="year">1987</span>
                                </div>
                                <div class="content">
                                    <h2 class="title">Mục tiêu tương lai với cà phê</h2>
                                    <p>Donec et nibh maximus, congue est eu, mattis Praesent ut quam quis quam venenatis fringilla. Morbi vestibulum id tellus mmodo mattis. Aliquam erat volutpat. Aenean accumsan id mi nec semper. Lorem ipsum.</p>
                                </div>
                            </div>
                        </div>
                        <div class="story-list__box">
                            <span class="count">02</span>
                            <div class="story-list__box--inner">
                                <div class="thumb">
                                    <img src="~/assets/images/story/story-2.jpg" alt="">
                                    <span class="year">1987</span>
                                </div>
                                <div class="content">
                                    <h2 class="title">Mục tiêu tương lai với cà phê</h2>
                                    <p>Donec et nibh maximus, congue est eu, mattis Praesent ut quam quis quam venenatis fringilla. Morbi vestibulum id tellus mmodo mattis. Aliquam erat volutpat. Aenean accumsan id mi nec semper. Lorem ipsum.</p>
                                </div>
                            </div>
                        </div>
                        <div class="story-list__box">
                            <span class="count">03</span>
                            <div class="story-list__box--inner">
                                <div class="thumb">
                                    <img src="~/assets/images/story/story-3.jpg" alt="">
                                    <span class="year">2014</span>
                                </div>
                                <div class="content">
                                    <h2 class="title">Mục tiêu tương lai với cà phê</h2>
                                    <p>Donec et nibh maximus, congue est eu, mattis Praesent ut quam quis quam venenatis fringilla. Morbi vestibulum id tellus mmodo mattis. Aliquam erat volutpat. Aenean accumsan id mi nec semper. Lorem ipsum.</p>
                                </div>
                            </div>
                        </div>
                        <div class="story-list__box">
                            <span class="count">04</span>
                            <div class="story-list__box--inner">
                                <div class="thumb">
                                    <img src="~/assets/images/story/story-4.jpg" alt="">
                                    <span class="year">2019</span>
                                </div>
                                <div class="content">
                                    <h2 class="title">Mục tiêu tương lai với cà phê</h2>
                                    <p>Donec et nibh maximus, congue est eu, mattis Praesent ut quam quis quam venenatis fringilla. Morbi vestibulum id tellus mmodo mattis. Aliquam erat volutpat. Aenean accumsan id mi nec semper. Lorem ipsum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- wcu section end -->
    <!-- blog area start -->
    <div class="blog__area blog__area--2 position-relative pt-120 pb-115">
        <div class="container">
            <div class="row align-items-end mb-60">
                <div class="col-lg-8">
                    <div class="section-heading section-heading__black">
                        <span class="sub-title">Tin tức & Blog</span>
                        <h2 class="title">Tin tức & Blog mới nhất</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="btns-wrapper text-center text-lg-end">
                        <a href="about.html" class="site-btn">Tìm hiểu thêm</a>
                    </div>
                </div>
            </div>
            <div class="row mt-none-30">
                <div class="col-xl-4 col-lg-6 col-md-6 mt-30">
                    <article class="blog__item blog__item--2">
                        <div class="thumb position-relative">
                            <div class="img">
                                <img src="~/assets/images/blog/blog-2-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="content content__2">
                            <ul class="blog__meta blog__meta--2 list-unstyled d-flex align-items-center justify-content-start">
                                <li><span>Bởi: </span> Rasalina</li>
                            </ul>
                            <h3 class="blog__title blog__title--2 border-effect">
                                <a href="blog-details.html">Xây dựng một buổi sáng tuyệt vời với cà phê Cafena</a>
                            </h3>
                            <div class="btn-wrapper mt-15 d-flex justify-content-between">
                                <a href="blog-details.html" class="read-more read-more__2">Đọc thêm <i class="fa fa-long-arrow-right"></i></a>
                                <a href="#0" class="share-btn"><i class="fal fa-share-alt"></i></a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mt-30">
                    <article class="blog__item blog__item--2">
                        <div class="thumb position-relative">
                            <div class="img">
                                <img src="~/assets/images/blog/blog-2-2.jpg" alt="">
                            </div>
                        </div>
                        <div class="content content__2">
                            <ul class="blog__meta blog__meta--2 list-unstyled d-flex align-items-center justify-content-start">
                                <li><span>Bởi: </span> Rasalina</li>
                            </ul>
                            <h3 class="blog__title blog__title--2 border-effect">
                                <a href="blog-details.html">Cocktail lý tưởng từ các phục vụ của chúng tôi cho tâm trạng hoàn hảo</a>
                            </h3>
                            <div class="btn-wrapper mt-15 d-flex justify-content-between">
                                <a href="blog-details.html" class="read-more read-more__2">Đọc thêm <i class="fa fa-long-arrow-right"></i></a>
                                <a href="#0" class="share-btn"><i class="fal fa-share-alt"></i></a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mt-30">
                    <article class="blog__item blog__item--2">
                        <div class="thumb position-relative">
                            <div class="img">
                                <img src="~/assets/images/blog/blog-2-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="content content__2">
                            <ul class="blog__meta blog__meta--2 list-unstyled d-flex align-items-center justify-content-start">
                                <li><span>Bởi: </span> Rasalina</li>
                            </ul>
                            <h3 class="blog__title blog__title--2 border-effect">
                                <a href="blog-details.html">Câu hỏi mà doanh nghiệp phải có khả năng trả lời</a>
                            </h3>
                            <div class="btn-wrapper mt-15 d-flex justify-content-between">
                                <a href="blog-details.html" class="read-more read-more__2">Đọc thêm <i class="fa fa-long-arrow-right"></i></a>
                                <a href="#0" class="share-btn"><i class="fal fa-share-alt"></i></a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

    <!-- blog area end -->

</main>

