@{
    ViewData["Title"] = "Giới thiệu";
}
<div>
    <!-- breadcrumb area start -->
    <section class="breadcrumb-area pt-140 pb-140 bg_img"    data-opacity="5" data-background="../assets/images/bg/amuse.jpg">
       
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <h2 class="page-title">Giới thiệu về AmuseGift</h2>
                    <div class="cafena-breadcrumb breadcrumbs">
                        <ul class="list-unstyled d-flex align-items-center justify-content-center">
                            <li class="cafenabcrumb-item duxinbcrumb-begin">
                                <a asp-controller="Home" asp-action="Index"><span>Trang chủ</span></a>
                            </li>
                            <li class="cafenabcrumb-item duxinbcrumb-end">
                                <span>Giới thiệu</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->
    <!-- about area start -->
    <section class="about__area about__area--2 position-relative pt-125 pb-105" style="background-color:black">
        
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-7">
                    <div class="about__left about__left--2 position-relative">
                        <img class="big" src="~/assets/images/about/coupleamuse (1).jpg" alt="img">
                        <img class="small position-absolute" src="~/assets/images/about/giftresize.png" alt="img">
                    </div>
                </div>
                <div class="col-xl-6 offset-xl-1">
                    <div class="about__right about__right--2 pl-45 pt-45">
                        <div class="section-heading section-heading__black">
                            <span class="sub-title">Giới thiệu AmuseGift</span>
                            <h2 class="title mb-25" style="color:#ffc107">
                                Về chúng tôi
                            </h2>
                            <p>
                                Amuse Gift là đứa con tinh thần mà chúng mình dồn hết tâm huyết và tình cảm để xây dựng. Tên thương hiệu "Amuse Gift" được chọn lựa kỹ lưỡng để phản ánh sứ mệnh của chúng mình mang đến cho khách hàng những món quà lưu niệm độc đáo, mang đậm dấu ấn cá nhân nhưng vẫn tràn đầy ý nghĩa. Chúng mình hiểu rằng mỗi món quà không chỉ là vật phẩm mà còn là thông điệp, là kỷ niệm, là sự kết nối giữa những người trao tặng và nhận được. Amuse Gift ra đời với mong muốn đáp ứng mọi nhu cầu và sở thích đa dạng của khách hàng, tạo ra những sản phẩm quà tặng không chỉ đẹp mắt mà còn chứa đựng tình cảm chân thành và sự sáng tạo tinh tế.
                            </p>
                        </div>
                        <ul class="about__list list-unstyled mt-25">
                            <li><span class="icon"><i class="fal fa-check"></i></span> Giá cả phải chăng</li>
                            <li><span class="icon"><i class="fal fa-check"></i></span> Gia công tinh xảo </li>
                            <li><span class="icon"><i class="fal fa-check"></i></span> Sản phẩm thân thiện với môi trường</li>
                            <li><span class="icon"><i class="fal fa-check"></i></span> Đội ngũ nhân viên thân thiệt nhiệt tình</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about area end -->
    <!-- wcu section start -->
    <section class="wcu__area pb-120" style="background-color:black;margin-top:0px;padding-bottom:63px"  >
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <div class="section-heading section-heading__black mb-60">
                        <span class="sub-title">tại sao lại chọn chúng tôi</span>
                        <h2 class="title" style="color:#ffc107">
                            Một thương hiệu thành công được xây dựng bởi lòng tin và sự hài lòng của khách hàng
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row mt-none-30">
                <div class="col-xl-4 col-lg-6 col-md-6 mt-30 text-center">
                    <div class="wcu__item">
                        <div class="icon">
                            <img src="~/assets/images/icons/gift.png" alt="">
                        </div>
                        <div class="content">
                            <h2 class="title" style="color:#ffc107">Sản phẩm đẹp đáp ứng nhu cầu của khách hàng</h2>
                            <p>Cúp thủy tinh lưu niệm của chúng tôi được thiết kế độc đáo, kết hợp giữa tinh xảo và hiện đại, đáp ứng nhu cầu trao tặng, lưu giữ kỷ niệm của khách hàng.</p>
                            <a href="about.html" class="inline-btn"><i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mt-30 text-center">
                    <div class="wcu__item">
                        <div class="icon">
                            <img src="~/assets/images/icons/environment.png" alt="">
                        </div>
                        <div class="content">
                            <h2 class="title" style="color:#ffc107">Nguyên liệu an toàn thân thiện với môi trường</h2>
                            <p>Chúng tôi cam kết sử dụng nguồn nguyên liệu an toàn, thân thiện với môi trường để sản xuất các sản phẩm chất lượng cao.Đáp ứng nhu cầu của khách hàng.</p>
                            <a href="about.html" class="inline-btn"><i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mt-30 text-center">
                    <div class="wcu__item">
                        <div class="icon">
                            <img src="~/assets/images/icons/staff.png" alt="">
                        </div>
                        <div class="content">
                            <h2 class="title" style="color:#ffc107">Dịch vụ chuyên nghiệp, tận tâm,thấu hiểu</h2>
                            <p>Đội ngũ nhân viên luôn sẵn sàng tư vấn và hỗ trợ khách hàng, mang đến trải nghiệm mua sắm tuyệt vời.AmuseGift gửi trọn yêu thương,lưu giữ kỉ niệm</p>
                       
                            <a href="about.html" class="inline-btn"><i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- wcu section end -->
    <!-- best-coffe section start -->
    <div class="best-coffe__area position-relative">
        <div class="best-coffe__bg">
            <img src="~/assets/images/bg/amuseblackshop (1).png" alt="">
        </div>
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-xl-8 pl-35">
                    <div class="best-coffe__wrapper">
                        <div class="section-heading section-heading__black">
                            <h2 class="title mb-25" style="color:#ffc107">
                                Về chúng tôi?
                            </h2>
                            <p>Amuse Gift là đứa con tinh thần mà chúng mình dồn hết tâm huyết và tình cảm để xây dựng. Tên thương hiệu "Amuse Gift" được chọn lựa kỹ lưỡng để phản ánh sứ mệnh của chúng mình mang đến cho khách hàng những món quà lưu niệm độc đáo, mang đậm dấu ấn cá nhân nhưng vẫn tràn đầy ý nghĩa</p>
                            <p> Chúng mình hiểu rằng mỗi món quà không chỉ là vật phẩm mà còn là thông điệp, là kỷ niệm, là sự kết nối giữa những người trao tặng và nhận được. Amuse Gift ra đời với mong muốn đáp ứng mọi nhu cầu và sở thích đa dạng của khách hàng, tạo ra những sản phẩm quà tặng không chỉ đẹp mắt mà còn chứa đựng tình cảm chân thành và sự sáng tạo tinh tế</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- best-coffe section end -->
    <!-- team section start -->
    <div class="team__area pt-115 pb-120" style="margin-top:0px;background-color:black;padding-bottom:100px">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <div class="section-heading section-heading__black mb-60">
                        <span class="sub-title">Đội ngũ tư vấn của AmuseGift</span>
                        <h2 class="title" style="color:#ffc107">Sẵn sàng đồng hành cùng khách hàng để giúp bạn có trải nghiệm tốt nhất khi sử dụng dịch vụ bên chúng tôi</h2>
                    </div>
                </div>
            </div>
            <div class="row mt-none-30">
                <div class="col-xl-4 col-lg-6 col-md-6 mt-30">
                    <div class="team__box">
                        <div class="thumb mb-30">
                            <img src="~/assets/images/team/team-1.jpg" alt="">
                            <div class="social-links">
                                <button class="social-links__trigger d-flex align-items-center justify-content-center" type="button">
                                    <i class="fal fa-plus"></i>
                                </button>
                                <ul class="list-unstyled d-flex align-items-center">
                                    <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <h4 class="name">Rasalina de willamson</h4>
                            <span class="experience">Với hơn 12 năm kinh nghiệm</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mt-30">
                    <div class="team__box">
                        <div class="thumb mb-30">
                            <img src="~/assets/images/team/team-2.jpg" alt="">
                            <div class="social-links">
                                <button class="social-links__trigger" type="button">
                                    <i class="fal fa-plus"></i>
                                </button>
                                <ul class="list-unstyled">
                                    <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <h4 class="name">Alextina Jimiey</h4>
                            <span class="experience">Với hơn 9 năm kinh nghiệm</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mt-30">
                    <div class="team__box">
                        <div class="thumb mb-30">
                            <img src="~/assets/images/team/team-1.jpg" alt="">
                            <div class="social-links">
                                <button class="social-links__trigger" type="button">
                                    <i class="fal fa-plus"></i>
                                </button>
                                <ul class="list-unstyled">
                                    <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <h4 class="name">Jimmey Aenderson</h4>
                            <span class="experience">Với hơn 5 năm kinh nghiệm</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- team section end -->

</div>