@{
    ViewData["Title"] = "Giới thiệu";
}
<div>
    <!-- breadcrumb area start -->
    <section class="breadcrumb-area pt-140 pb-140 bg_img" data-overlay="dark" data-opacity="5" data-background="../assets/images/bg/testimonial-bg-2.jpg">
        <div class="shape shape__1"><img src="~/assets/images/shape/breadcrumb-shape-1.png" alt=""></div>
        <div class="shape shape__2"><img src="~/assets/images/shape/breadcrumb-shape-2.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <h2 class="page-title">Giới thiệu về Cafena</h2>
                    <div class="cafena-breadcrumb breadcrumbs">
                        <ul class="list-unstyled d-flex align-items-center justify-content-center">
                            <li class="cafenabcrumb-item duxinbcrumb-begin">
                                <a asp-controller="Home" asp-action="Index"><span>Trang chủ</span></a>
                            </li>
                            <li class="cafenabcrumb-item duxinbcrumb-end">
                                <span>Giới thiệu</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->
    <!-- about area start -->
    <section class="about__area about__area--2 position-relative pt-125 pb-105">
        <span class="shape shape__1 position-absolute"><img src="~/assets/images/shape/about-shape-2-1.png" alt=""></span>
        <span class="shape shape__2 position-absolute"><img src="~/assets/images/shape/about-shape-2-2.png" alt=""></span>
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-7">
                    <div class="about__left about__left--2 position-relative">
                        <img class="big" src="~/assets/images/about/about-img-2-1.png" alt="img">
                        <img class="small position-absolute" src="~/assets/images/about/about-img-2-2.png" alt="img">
                    </div>
                </div>
                <div class="col-xl-6 offset-xl-1">
                    <div class="about__right about__right--2 pl-45 pt-45">
                        <div class="section-heading section-heading__black">
                            <span class="sub-title">Giới thiệu Cafena</span>
                            <h2 class="title mb-25">
                                Một trong những quán cà phê tốt nhất ở quê nhà của bạn
                            </h2>
                            <p>Chúng tôi đi khắp thế giới để tìm kiếm cà phê tuyệt vời. Trong quá trình đó, chúng tôi phát hiện ra những hạt đậu đặc biệt và hiếm đến nỗi chúng tôi có thể chờ đợi để mang chúng về.</p>
                        </div>
                        <ul class="about__list list-unstyled mt-25">
                            <li><span class="icon"><i class="fal fa-check"></i></span> Giá cả phải chăng</li>
                            <li><span class="icon"><i class="fal fa-check"></i></span> Hương vị tuyệt hảo </li>
                            <li><span class="icon"><i class="fal fa-check"></i></span> Sản phẩm tự nhiên</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about area end -->
    <!-- wcu section start -->
    <section class="wcu__area pb-120">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <div class="section-heading section-heading__black mb-60">
                        <span class="sub-title">tại sao lại chọn chúng tôi</span>
                        <h2 class="title">
                            Chúng tôi chuyên cung cấp các loại Coffee tốt nhất hiện tại
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row mt-none-30">
                <div class="col-xl-4 col-lg-6 col-md-6 mt-30 text-center">
                    <div class="wcu__item">
                        <div class="icon">
                            <img src="~/assets/images/icons/wcu-1.png" alt="">
                        </div>
                        <div class="content">
                            <h2 class="title">Công thức Coffee</h2>
                            <p>Công thức pha cà phê thử nghiệm độc đáo, mang lại hương vị tinh tế và đặc biệt.</p>
                            <a href="about.html" class="inline-btn"><i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mt-30 text-center">
                    <div class="wcu__item">
                        <div class="icon">
                            <img src="~/assets/images/icons/wcu-2.png" alt="">
                        </div>
                        <div class="content">
                            <h2 class="title">Vị trí tuyệt vời</h2>
                            <p>Vị trí địa lý tuyệt vời, tạo điểm nhấn cho trải nghiệm thưởng thức cà phê.</p>
                            <a href="about.html" class="inline-btn"><i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mt-30 text-center">
                    <div class="wcu__item">
                        <div class="icon">
                            <img src="~/assets/images/icons/wcu-1.png" alt="">
                        </div>
                        <div class="content">
                            <h2 class="title">Nhân viên chuyên nghiệp</h2>
                            <p>Đầu bếp chuyên nghiệp sẵn sàng tạo ra những thức uống cà phê độc đáo và chất lượng.</p>
                            <a href="about.html" class="inline-btn"><i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- wcu section end -->
    <!-- best-coffe section start -->
    <div class="best-coffe__area position-relative">
        <div class="best-coffe__bg">
            <img src="~/assets/images/bg/best-coffe-1.jpg" alt="">
        </div>
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-xl-8 pl-35">
                    <div class="best-coffe__wrapper">
                        <div class="section-heading section-heading__black">
                            <h2 class="title mb-25">
                                Thử Coffee tốt nhất tại đây
                            </h2>
                            <p>Khám phá hương vị cà phê tuyệt vời nhất tại thành phố Housing, nơi mà bạn có cơ hội thưởng thức những tách cà phê đầy đặc trưng và đậm đà, mang lại trải nghiệm thưởng thức tuyệt vời cho người yêu cà phê.</p>
                            <p>Hãy thử cảm nhận vị ngọt ngào và mùi thơm đặc trưng của cà phê tốt nhất tại thành phố Housing, nơi mà không chỉ là nơi đáng sống mà còn là thiên đường của những tín đồ cà phê, với đa dạng lựa chọn và chất lượng đảm bảo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- best-coffe section end -->
    <!-- team section start -->
    <div class="team__area pt-115 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <div class="section-heading section-heading__black mb-60">
                        <span class="sub-title">Nhân viên của chúng tôi</span>
                        <h2 class="title">Gặp gỡ các nhân viên thân thiện và chuyên nghiệp</h2>
                    </div>
                </div>
            </div>
            <div class="row mt-none-30">
                <div class="col-xl-4 col-lg-6 col-md-6 mt-30">
                    <div class="team__box">
                        <div class="thumb mb-30">
                            <img src="~/assets/images/team/team-1.jpg" alt="">
                            <div class="social-links">
                                <button class="social-links__trigger d-flex align-items-center justify-content-center" type="button">
                                    <i class="fal fa-plus"></i>
                                </button>
                                <ul class="list-unstyled d-flex align-items-center">
                                    <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <h4 class="name">Rasalina de willamson</h4>
                            <span class="experience">Với hơn 12 năm kinh nghiệm</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mt-30">
                    <div class="team__box">
                        <div class="thumb mb-30">
                            <img src="~/assets/images/team/team-2.jpg" alt="">
                            <div class="social-links">
                                <button class="social-links__trigger" type="button">
                                    <i class="fal fa-plus"></i>
                                </button>
                                <ul class="list-unstyled">
                                    <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <h4 class="name">Alextina Jimiey</h4>
                            <span class="experience">Với hơn 9 năm kinh nghiệm</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mt-30">
                    <div class="team__box">
                        <div class="thumb mb-30">
                            <img src="~/assets/images/team/team-1.jpg" alt="">
                            <div class="social-links">
                                <button class="social-links__trigger" type="button">
                                    <i class="fal fa-plus"></i>
                                </button>
                                <ul class="list-unstyled">
                                    <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="#0"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <h4 class="name">Jimmey Aenderson</h4>
                            <span class="experience">Với hơn 5 năm kinh nghiệm</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- team section end -->

</div>