@{
    ViewData["Title"] = "Đặt Hàng";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .noted-label {
        font-size: 22px;
        color: green;
        font-style: italic;
        margin-bottom: 5px;
    }

    .form-control {
        /* Các thiết lập CSS hiện tại của class "form-control" */
    }
</style>
@model Coffee.DATA.Models.Book
<main>
    <!-- breadcrumb area start -->
    <section class="breadcrumb-area pt-140 pb-140 bg_img" data-overlay="white" data-opacity="5" data-background="../assets/images/bg/amuse.jpg">
       
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <h2 class="page-title">Đặt Hàng Tại Đây</h2>
                    <div class="cafena-breadcrumb breadcrumbs">
                        <ul class="list-unstyled d-flex align-items-center justify-content-center">
                            <li class="cafenabcrumb-item duxinbcrumb-begin">
                                <a asp-controller="Home" asp-action="Index"><span>Trang chủ</span></a>
                            </li>
                            <li class="cafenabcrumb-item duxinbcrumb-end">
                                <span>Đặt Hàng</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->
    <!-- reservation area start -->
    <section class="reservation__area reservation__area--2 position-relative pt-120 pb-120" style="padding-bottom:60px">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="reservation__wrapper reservation__wrapper--2">
                        <div class="section-heading section-heading__black text-center mb-35">
                            <h2 class="title">Đặt Hàng</h2>
                        </div>
                        @if (ViewBag.Success != null)
                        {
                            <div class="alert alert-success" role="alert">
                                @ViewBag.Success
                            </div>
                        }
                        <div class="reservation__form reservation__form--2 mt-none-30 text-center">
                            <form id="contactForm" asp-controller="Home" asp-action="Reservation" method="post">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="from-group mt-30">
                                            @* <input type="text" name="Name" placeholder="Họ và tên"> *@
                                            <input asp-for="Name" class="form-control" placeholder="Họ tên bạn">
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="from-group mt-30">
                                            <input asp-for="Phone" class="form-control" placeholder="Điện thoại">
                                            <span asp-validation-for="Phone" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="form-group mt-30">
                                            <input asp-for="Seates" id="seatesInput" class="form-control" placeholder="Số lượng sản phẩm">
                                            <span asp-validation-for="Seates" class="text-danger"></span>
                                            <p id="seatesErrorMessage" class="text-danger" style="display: none;">chỉ nhận đặt hàng khi sản phẩm bạn cần hết hàng hoặc trên 3 sản phẩm</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="from-group mt-30">
                                            <input asp-for="Day" type="date" id="nextDayInput" class="form-control" placeholder="Ngày">
                                            <span asp-validation-for="Day" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="from-group mt-30">
                                            <select asp-for="PaymentMethod" class="form-control" required>
                                                <option value="">Hình thức thanh toán</option>
                                                <option value="Thanh toán bằng tiền mặt">Thanh toán bằng tiền mặt</option>
                                                <option value="Thanh toán bằng thẻ">Thanh toán bằng thẻ</option>

                                            </select>
                                            <span asp-validation-for="PaymentMethod" class="text-danger"></span>
                                            <span asp-validation-for="PaymentMethod" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 mt-30">
                                        <div class="form-group">
                                            <input asp-for="Email" id="email" class="form-control" placeholder="Email">
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                            <span class="text-danger" id="checkEmailFalse" style="display: none">Email False</span>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="from-group mt-30">
                                            <label for="Noted" class="noted-label">NOTE</label>
                                            <input asp-for="Noted" class="form-control" placeholder="Bạn vui lòng điền rõ yêu cầu và sản phẩm để nhân viên bên mình có thể liên hệ lại" title="NOTE">
                                            <span asp-validation-for="Noted" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 mt-20 text-center">
                                        <button type="submit" id="submitBtn" class="site-btn">Đặt Hàng</button>
                                    </div>
                                    <div class="col-xl-12 mt-20" style="position: relative; background-color:#dc3545">
                                        <button type="button" class="site-btn" onclick="window.location.href = '/'" style="position: absolute; bottom: 10px; right: 10px;  text-align: center; /* Added styles for responsiveness */">Trang Chủ</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- reservation area end -->
</main>

@section Scripts {

    <script>
        // Lấy ngày hôm sau
        const nextDay = new Date();
        nextDay.setDate(nextDay.getDate() + 1);

        // Format ngày hôm sau để phù hợp với định dạng của input type="date"
        const nextDayFormatted = nextDay.toISOString().slice(0, 10);

        // Đặt giá trị min cho input
        document.getElementById('nextDayInput').setAttribute('min', nextDayFormatted);

        // Bắt sự kiện input
        // document.getElementById('nextDayInput').addEventListener('input', function () {
        //     // Lấy giá trị ngày từ input
        //     const inputDate = new Date(this.value);

        //     // Kiểm tra nếu ngày đã chọn nhỏ hơn hoặc bằng ngày hôm sau
        //     if (inputDate <= nextDay) {
        //         // In thông báo lỗi
        //         document.getElementById('validationMessage').textContent = "Vui lòng chọn ngày lớn hơn hôm sau.";
        //         // Đặt giá trị của input về rỗng
        //         this.value = '';
        //     } else {
        //         // Xóa thông báo lỗi nếu ngày hợp lệ
        //         document.getElementById('validationMessage').textContent = "";
        //     }
        // });
    </script>
}